@font-face {
  font-family: 'cubic';
  font-weight: 400;

  src: url('@/assets/cubic/Cubic_11_1.013_R.woff2') format('woff2'),
    url('@/assets/cubic/Cubic_11_1.013_R.woff') format('woff'),
    url('@/assets/cubic/Cubic_11_1.013_R.ttf') format('truetype');
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'cubic';
  line-height: 1.5;
  background-color: black;
  color: #ffffff;
}

button {
  font-family: 'cubic';
}

.h1 {
  font-size: 72px;
  line-height: 84px;
}

.h2 {
  font-size: 56px;
  line-height: 65px;
}

.h3 {
  font-size: 42px;
  line-height: 49px;
}

.h4 {
  font-size: 36px;
  line-height: 42px;
}

.h5 {
  font-size: 30px;
  line-height: 35px;
}

.h6 {
  font-size: 24px;
  line-height: 28px;
}
